
 
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, #101010, #7f6a02);
            margin: 0;
            padding: 0;
        }

        .container {
            width: 350px;
            margin: 50px auto;
            background: rgb(232, 229, 236);
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
        }

        h2, h3 {
            text-align: center;
            margin: 5px;
        }

        label {
            font-weight: bold;
        }

        input, select, textarea {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 15px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        input[type="radio"] {
            width: auto;
        }

        .gender {
            margin-bottom: 15px;
        }

        button {
            width: 100%;
            padding: 10px;
            background: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background: #45a049;
        }
    